body{
	background: url("foot4.jpg");
	background-size: cover;

}
.container{
	width: 70%;
	margin: auto;
}
.header h1{
	text-transform: uppercase;
	color: black;
	min-height: 1.5em;
	text-align: center;
	font-family: ariel helvetica cursive;
}
.nav li{
	display: inline;
	padding: 2em;
	margin-left: 3em;
	font-size: 1em;
}
.nav li a{
	text-decoration: none;
	color: brown;
}
.audio{
	/*float: left;*/
	margin: 0px 0px 0px 50px;
	display: inline;
	padding-left: 0px;
	width: 50%;
}
.video{
	margin: 75px 0px 0px 0px;
	float: left;
	display: inline-block;
	
}
.clearer{
	clear: both;
}
.footer{
	background: #0c784c;
	background-size: cover;
	margin-top: 4em;
}
#contact_section ul{
	list-style: none;
}











